<div class="auth-container" [class.register-mode]="isRegister">
  <div class="auth-slider">

    <!-- ================= LOGIN ================= -->
    <div class="auth-page">

      <section class="hero-section">
        <img src="assets/fundo/cad.jpeg" class="hero-image" />
        <div class="diagonal-divider"></div>
      </section>

      <section class="form-section">

        <div class="home-top-login">
          <a (click)="irPara('home')" title="Voltar ao menu">
            <i class="bi bi-arrow-left-circle-fill"></i>
          </a>
        </div>

        <div class="form-wrapper">
          <div class="brand">
            <span class="brand-white">Beach</span><span class="brand-orange">Up</span>
          </div>

          <h1>Entrar</h1>

          <form class="forms">
            <input type="email" placeholder="Email" [(ngModel)]="email" name="email" />
            <input type="password" placeholder="Senha" [(ngModel)]="senha" name="senha" />

            <button type="button" class="btn-primary">Entrar</button>

            <div class="divider">ou</div>

            <button class="btn-google">
              <img src="assets/logo/google-icon.png" alt="Google logo" class="google-logo">
              Entrar com Google
            </button>

            <p class="login-text">
              Não tem conta?
              <a class="link-action" id="btn" (click)="toggle()">Criar conta</a>
            </p>
          </form>

        </div>
      </section>

    </div>

    <!-- ================= CADASTRO ================= -->
    <div class="auth-page reverse">


      <section class="form-section">
        <div class="home-top-cadastro">
          <a (click)="irPara('home')" title="Voltar ao menu">
            <i class="bi bi-arrow-left-circle-fill"></i>
          </a>
        </div>

        <div class="form-wrapper">
          <div class="brand">
            <span class="brand-white">Beach</span><span class="brand-orange">Up</span>
          </div>

          <h1>Criar conta</h1>

          <form class="forms" (ngSubmit)="submit()">

            <input type="text" placeholder="Nome completo" [(ngModel)]="nome" name="nome" *ngIf="isRegister"
              [hidden]="!isRegister" />
            <input type="email" placeholder="Email" [(ngModel)]="email" name="email" />

            <div class="input-password">
              <input [type]="mostrarSenha ? 'text' : 'password'" placeholder="Senha" [(ngModel)]="senha" name="senha" />
              <button type="button" (click)="toggleSenha()" class="eye-btn">
                <mat-icon>{{ mostrarSenha ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </div>

            <div class="input-password">
              <input [type]="mostrarSenha ? 'text' : 'password'" placeholder="Confirmar Senha"
                [(ngModel)]="confirmarSenha" name="confirmarSenha" />
              <button type="button" (click)="toggleSenha()" class="eye-btn">
                <mat-icon>{{ mostrarSenha ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </div>

            <div *ngIf="senha !== confirmarSenha && confirmarSenha"
              class="alert alert-danger alert-dismissible fade show" role="alert">
              As senhas não coincidem
              <button type="button" (click)="alerta()" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <button type="submit" class="btn-primary">{{ isRegister ? 'Cadastrar' : 'Entrar' }}</button>

            <div class="divider">ou</div>

            <button class="btn-google">
              <img src="assets/logo/google-icon.png" alt="Google logo" class="google-logo">
              Entrar com Google
            </button>

            <p class="login-text">
              Já tem conta?
              <a class="link-action" id="btn" (click)="toggle()">Entrar</a>
            </p>

          </form>

        </div>
      </section>

      <section class="hero-section">
        <img src="assets/fundo/card.jpeg" class="hero-image" />
        <div class="diagonal-divider"></div>
      </section>

    </div>

  </div>
</div>
