<div class="avaliacao-wrapper">
  <div class="avaliacao-card">

    <div class="home-top-login">
      <a (click)="irPara('home')" title="Voltar ao menu">
        <i class="bi bi-arrow-left-circle-fill"></i>
      </a>
    </div>

    <span class="avaliacao-tag">BeachUp</span>
    <h1 class="titulo">Faça sua avaliação</h1>
    <p class="subtitulo">
      Sua opinião ajuda outros jogadores a escolherem a melhor quadra.
    </p>
    <input type="text" placeholder="Seu nome" [(ngModel)]="avaliacao.nome" name="nome" />


    <div class="nota">
      <input type="number" placeholder="Nota (0 a 5)" [(ngModel)]="avaliacao.nota" name="nota" min="0" max="5" />
    </div>


    <div class="comentario">
      <label for="mensagem" class="label-comentario">Comentário</label>
      <textarea id="mensagem" [(ngModel)]="avaliacao.comentario" name="comentario"
        placeholder="Conte como foi sua experiência com a quadra..."></textarea>


      <button type="button" (click)="salvar()">
        Enviar avaliação
      </button>
    </div>


  </div>
</div>



<div class="lista-avaliacoes">
  <h2 class="titulo-lista">Avaliações</h2>

  <div *ngIf="avaliacoes.length === 0" class="sem-avaliacoes">
    Nenhuma avaliação ainda.
  </div>

  <div *ngFor="let a of avaliacoes" class="card-avaliacao">
    <h3>{{ a.nome }}</h3>
    <p>{{ a.comentario }}</p>
    <strong>Nota: {{ a.nota }}</strong>
  </div>
</div>
